# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local .env files
.env*.local
.env

# IDE files
.idea/
.vscode/*
!.vscode/settings.json

# Temp files
*.swp
*~
*.bak

# Firebase
/service-account.json

# PWA
/public/sw.js
/public/workbox-*.js
/public/sw.js.map
/public/workbox-*.js.map
